{% extends "source/admin_base.html" %}

{% block subtitle %}{{ _('Job Report') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
<div class="module-content">

  <p class="pull-right">
    {{ h.nav_link(_('Back to job list'), named_route='harvester.job_list', source=harvest_source.name, class_='btn btn-default', icon='arrow-left')}}
  </p>

  <h1>{{ _('Job Report') }}</h1>
  {% snippet 'snippets/job_details.html', job=job %}

  {% if job.status == 'Finished' %}
    {% snippet 'snippets/federation_report_block.html', job=job, harvest_source=harvest_source %}
  {% endif %}
{% endblock %}
