{# Finished harvest job email template #}


<html>
<head>
    <style>

        footer div p {
            font-family: 'Calibri';
            font-size: 11px;
        }
        .mensaje p {margin: 0;}
        .mensaje .ml10 {margin-left: 10px;}
        .mensaje .mb10 {margin-bottom: 10px;}
    </style>
</head>
<body>
  <div class="mensaje">
    <p class="mb10">Estimado/a.</p>
    <p>Ha finalizado la federación del organismo {{org_title}} con el siguiente resultado:</p>
    <p class="ml10">Id: {{job_id}}</p>
    <p class="ml10">Created: {{h.render_datetime(last_job['created'], with_hours=True)}}</p>
    <p class="ml10">Started: {{h.render_datetime(last_job['gather_started'], with_hours=True)}}</p>
    <p class="ml10">Finished: {{h.render_datetime(last_job['finished'], with_hours=True)}}</p>
    <p class="ml10">Status: {{last_job['status']}}</p>
    <p class="ml10">Deleted: {{last_job['stats']['deleted']|string}}</p>
    <p class="ml10">Updated: {{last_job['stats']['updated']|string}}</p>
    <p class="ml10">Added: {{last_job['stats']['added']|string}}</p>
    <p class="ml10">Errors/warnings: {{last_job['stats']['errored']|string}}</p>
    <p class="ml10 mb10">View full job report: {{url_job}}</p>
    <p class="mb10">Un saludo.</p>
  </div>
    <footer>
        <p style="margin-top:0;margin-bottom:0;"><em>Iniciativa Aporta - </em> <a href="https://datos.gob.es/es/"><em>datos.gob.es</em></a></p>
        <p style="margin-top:0;margin-bottom:0;"><em>Entidad pública </em><a href="https://www.red.es/es"><em>Red.es</em></a></p>
        <p style="margin-top:0;margin-bottom:0;"><em>Ministerio para la Transformación Digital y de la Función Pública</em></p>
        <table style="font-family:arial,sans-serif;width:100%;height:100px;border-collapse:collapse;border-style:none;float:left;">
          <tbody>
            <tr style="border-style:none;">
              <td style="text-align:left;height:50px;padding:8px;border:1px none #DDDDDD;">
                <div data-entity-type="media"><img alt="logos" height="55" src="{{url_logos}}" data-imagetype="External">
                </div>
              </td>
            </tr>
            <tr style="border-style:none;">
              <td style="text-align:left;height:35px;padding:8px;border:1px none #DDDDDD;">
                <a href="{{url_subscribe}}">
                  <div data-entity-type="media"><img alt="suscripción" height="45" src="{{url_image_subscribe}}" data-imagetype="External">
                  </div>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
    </footer>
</body>
</html>